.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 52px 69px 0;
    margin: 0 0 87px;
}

@media screen and (max-width: 768px) {
    .header {
      padding: 51px 34px 0;
    }
}

@media screen and (max-width: 373px) {
    .header {
      padding: 30px 23px 0;
    }
}
