.lead__subtitle {
  font-weight: 700;
  font-size: 34px;
  line-height: 38px;
  margin: 0;
  max-width: 515px;
}

@media screen and (max-width: 1116px) {
  .lead__subtitle {
    font-size: 24px;
    line-height: 28px;
  }
}

@media screen and (max-width: 822px) {
  .lead__subtitle {
    font-size: 18px;
    line-height: 20px;
    text-align: center;
  }
}
